<div class="weather-widget" *ngIf="weatherData">
  <h2>{{ weatherData.name }}</h2>
  <div class="weather-info">
    <p>Temperature: {{ degree | number:'1.1-2' }} °C</p>
    <p>Humidity: {{ weatherData.main.humidity }}%</p>
    <p>Weather: {{ weatherData.weather[0].description }}</p>
  </div>
</div>

<ion-content>
  <ion-card *ngIf="store">
    <ion-card-header>
      <ion-card-title>{{ store.name }}</ion-card-title>
    </ion-card-header>
    
  </ion-card>
  <div class="store-info" *ngIf="store">
    <h3>Store Information</h3>
    <p>Total Sales for the Month: $5000</p>
  </div>

  <div class="manager-info" >
    <h3>Store Manager Information</h3>
    <p>Name: Steeven</p>
    <p>Credentials: MBA</p>
  </div>
</ion-content>