<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu-title">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goToSettings()">
        <ion-icon name="settings" slot="start"></ion-icon>
        Settings
      </ion-item>
      <ion-item (click)="callManager()">
        <ion-icon name="call" slot="start"></ion-icon>
        Call Manager
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false">
          <ion-icon name="menu"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="navbar-title">My App</ion-title>
    </ion-toolbar>
  </ion-header>
  
</div>