<ion-content>
  <ion-list>
    <ion-card *ngFor="let sale of salesHistory" class="sale-card">
      <ion-card-header>
        <ion-card-title>Date: {{ sale.date }}</ion-card-title>
        
          <ion-button (click)="editSale(sale)">Edit</ion-button>
       
      </ion-card-header>
      <ion-card-content *ngIf="!isEditing">
        <ion-list>
          <ion-item *ngFor="let product of sale.sales" class="product-item">
            <ion-label>
              <h2 class="product-name">Product: {{ product.product }}</h2>
              <p>Quantity: {{ product.quantity }}</p>
              <p>Price: {{ product.price }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <p class="total">Total: {{ sale.total | currency }}</p>
      </ion-card-content>
      <ion-card-content *ngIf="isEditing">
        <ion-list>
          <ion-item *ngFor="let product of selectedSale.sales; let i = index" class="product-item">
            <ion-label>
              <h2 class="product-name">Product: {{ product.product }}</h2>
              <ion-input [(ngModel)]="selectedSale.sales[i].quantity" type="number" placeholder="Quantity"></ion-input>
              <ion-input [(ngModel)]="selectedSale.sales[i].price" type="number" placeholder="Price"></ion-input>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-button (click)="saveEdit()">Save</ion-button>
        <ion-button (click)="cancelEdit()">Cancel</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
