<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="add-store-card">
    <ion-card-header>
      Store Details
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="newStore.name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input [(ngModel)]="newStore.location" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Image URL</ion-label>
        <ion-input [(ngModel)]="newStore.logo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input [(ngModel)]="newStore.phoneNumber" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Store Manager</ion-label>
        <ion-input [(ngModel)]="newStore.storemanager" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Manager id</ion-label>
        <ion-input [(ngModel)]="newStore.managerid" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Manager pass</ion-label>
        <ion-input [(ngModel)]="newStore.managerpass" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Store Latitude</ion-label>
        <ion-input [(ngModel)]="newStore.lat" required></ion-input>

        <ion-input  required></ion-input>

      </ion-item>
      <ion-item>
        <ion-label position="floating">Store Longitude</ion-label>
        <ion-input [(ngModel)]="newStore.lng" required></ion-input>

        <ion-input  required></ion-input>

      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="addNewStoreAndUser()">Add Store</ion-button>
</ion-content>
